# data directory
data/

#pycharm junk
*.idea

# temporary images used in PSF selection
*.png
*.pdf

# output plots
outputs*/*
plots*/*

# other
__pycache__
*.ipynb_checkpoints*
pipeline/extra_cluster_data/
