# data directory
data/

# testing
testing

#pycharm junk
*.idea

# temporary images used in PSF selection
testing/*.png
testing/*.pdf
analysis/*.png
analysis/*.pdf
analysis/*/*.png

# output plots
outputs*/*
plots*/*

# mcmc chain storage
mcmc_chain*.h5

# other
__pycache__
*.ipynb_checkpoints*
pipeline/extra_cluster_data/

# scripts for copying data to/from shangrila
copy*.sh
